<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'vendor/skeleton/normalize.css' %}">
<link rel="stylesheet" href="{% static 'vendor/skeleton/skeleton.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block head %}{% endblock %}
<title>{{ title }}</title>
<body>
  <main class="container">
    <h1>{{ title }}</h1>
    {% block content %}{% endblock %}
  </main>
  <footer class="container">
    <nav>
      <ul>
        {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li><a href="{% url 'admin:index' %}">Administration</a>
          {% endif %}
          <li><a href="{% url 'github:logout' %}">Logout {{ user.username }}</a>
        {% else %}
          <li><a href="{% url 'github:login' %}">Login via GitHub</a>
        {% endif %}
          <li><a href="{% url 'pode:home' %}">Pode Home</a>
      </ul>
    </nav>
  </footer>
</body>
