{% extends "base.html" %}
{% load pode %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome to Pode, {{ user.username }}!</p>

{% if codes %}
  <p>Below are the HTML pages you have created.</p>
  <ul class="pages">
  {% for code in codes %}
    <li>
      <code>{{ code.slug }}</code>
      <a href="{{ code.get_absolute_url }}" class="button">Edit <span class="sr-only">{{ code.slug }}</span></a>
      <a href="{% code_share_url code %}" class="button">View <span class="sr-only">{{ code.slug }}</span></a>
    </li>
  {% endfor %}
  </ul>
  <p>You can also <a href="{% url 'pode:create_user_code' %}">create a new HTML page</a>.</p>
{% else %}
  <p>Now that you are logged in, you may want to <a href="{% url 'pode:create_user_code' %}">create a new HTML page</a>.</p>
{% endif %}

{% else %}
<p>
  Pode is an experimental code editor for newcomers to programming who are
  visually impaired.
</p>
<p>
  To get started, <a href="{% url 'github:login' %}">log in via GitHub</a>.
</p>
{% endif %}
{% endblock %}
