ul.pages {
  list-style-type: none;
}

ul.pages li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

ul.pages li:last-child {
  border-bottom: none;
}

ul.pages li code {
  background: inherit;
  border: none;
  flex-grow: 1;
}

ul.pages li a {
  margin-right: 10px;
}

ul.pages li a:last-child {
  margin-right: 0;
}

nav ul {
  list-style-type: none;
  text-align: right;
  border-top: 1px dotted gray;
  margin-bottom: 0;
}

nav ul li {
  padding: 1em;
  display: inline-block;
  margin-bottom: 0;
}

nav ul li:last-child {
  padding-right: 0;
}

nav a {
  color: black;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  /* https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored */
  flex: 1 0 auto;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
